.side_ankerpane {

    -fx-background-color: #ffce00;
    /*-fx-border-color: #ffffff;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 0px 20px 20px 0px;
    -fx-background-radius: 0px 20px 20px 0px;
    -fx-border-style: solid ;
}
.inner_pane{

    -fx-background-color: #FFFF00;

    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius:20px 20px 20px 20px ;
    -fx-border-style: solid ;
    -fx-border-color: #FFFF00;

}
.pane1{

    -fx-background-color: #ffffff;

    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius:20px 20px 20px 20px ;
    -fx-border-style: solid ;
    -fx-border-color: #ffffff;

}
.mainbackground{
    -fx-background-color: #ffffe4;

}